@model ClinicaMed.Models.Colaborador

@{
    ViewData["Title"] = "Editar Colaborador";
    string userEmail = ViewData["UserEmail"] as string;
    string userRole = ViewData["UserRole"] as string;
}

<h1>Editar Colaborador</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="" asp-for="IdCol" />

    <input type="" asp-for="UserId" />

    <div class="form-group">
        <label for="Role" class="control-label">Função:</label>

        <select name="Role" id="Role" class="form-control" required>
            <option value="Administrador">Administrador</option>
            <option value="Administrativo">Administrativo</option>
            <option value="Medico">Médico</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="NomeApresentacao" class="control-label"></label>
        <input asp-for="NomeApresentacao" class="form-control" />
        <span asp-validation-for="NomeApresentacao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="email" class="control-label">Enter your example.com email:</label>
        <input class="form-control" type="email" id="email" name="EmailCol" size="30" value="@userEmail" required />
    </div>

    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Apelido" class="control-label"></label>
        <input asp-for="Apelido" class="form-control" />
        <span asp-validation-for="Apelido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Telemovel" class="control-label"></label>
        <input asp-for="Telemovel" class="form-control" />
        <span asp-validation-for="Telemovel" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sexo" class="control-label"></label>
        <select asp-for="Sexo" class="form-control">
            <option value="0" selected>Masculino</option>
            <option value="1">Feminino</option>
        </select>
        <span asp-validation-for="Sexo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DataNascimento" class="control-label"></label>
        <input asp-for="DataNascimento" type="date" class="form-control" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Pais" class="control-label"></label>
        <input asp-for="Pais" class="form-control" />
        <span asp-validation-for="Pais" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Morada" class="control-label"></label>
        <input asp-for="Morada" class="form-control" />
        <span asp-validation-for="Morada" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CodPostal" class="control-label"></label>
        <input asp-for="CodPostal" class="form-control" />
        <span asp-validation-for="CodPostal" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Localidade" class="control-label"></label>
        <input asp-for="Localidade" class="form-control" />
        <span asp-validation-for="Localidade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nacionalidade" class="control-label"></label>
        <input asp-for="Nacionalidade" class="form-control" />
        <span asp-validation-for="Nacionalidade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Nif" class="control-label"></label>
        <input asp-for="Nif" class="form-control" />
        <span asp-validation-for="Nif" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EstadoCivil" class="control-label"></label>
        <select asp-for="EstadoCivil" class="form-control">
            <option value="1">Solteiro(a)</option>
            <option value="2">Casado(a)</option>
            <option value="3">Divorciado(a)</option>
            <option value="4">Viúvo(a)</option>
        </select>
        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumOrdem" class="control-label"></label>
        <input asp-for="NumOrdem" class="form-control" />
        <span asp-validation-for="NumOrdem" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Função para selecionar dinamicamente a opção na dropdown com base no userRole
        document.addEventListener("DOMContentLoaded", function () {
            var userRole = '@userRole'; // Obtém o valor do userRole da ViewData

            // Seleciona o option correspondente ao userRole
            var selectElement = document.getElementById("Role");
            for (var i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === userRole) {
                    selectElement.selectedIndex = i;
                    break;
                }
            }
        });
    </script>
}
